Gapura Website
Saturday, December 20, 2025
5:24 PM
 
Website ini hanya bisa di akses karyawan gapura.
Ga boleh di akses kompetitor
Ga boleh di akses sama penumpang
 
Website sangat frienldy di hp
 
Khusus link pelaporan, bisa di akses hanya seluruh karyawan gapura
Tetapi untuk dashboard hasil laporan garifk dll, hanya boleh dibuka oleh DIVISI Melisa aja = OS

Tapi divisi lain itu bisa akses website ini hanya untuk acc laporan,bahwa report dari cabang  apakah sudah di eskalasi, apakah sudah dis selesaikan, jadi sifatnya hanya memberikan feedback sejauh mana laporan ini sudah di selesaikan (Divisinya hanya yang kita kerjasama = OT, OP, OS) OS tuh aku
 
Yang kamu modif untuk nanti senin aku demo
Cabang liat grafik sederhana
Cabang isi irreg (udah ada kan) (Irreg jadiin)
 
Tampilan
Divisi lain op ot uq
 
Admin Stakeholder yang akan menggunakan website ini
Staff Cabang
Seluruh bandara
Cabang hanya bisa melihat 2 hal
Isi link Irreg 
(Link ini hanya bisa di isi semua orang yang hanya gapura)
Ini linknya : (Buat di dalam website)

Semua orang cabang ga boleh tau data excel dari link itu
Laporan dashboard analytc hanya bisa di liat yang punya cabang sendiri. Misal CGK ya cuman Tampilan dashboaard CGK aja

 
 
Divisi OS (Manajer, PV, & Analyst)
Orang orangnya = OS, OSF, OSL & Analyst

 
Hanya bisa liat dashboard, bisa liat tindak lanjut case sampai mana sudah di tangani, case yang masuk perhari apa aja, di tampilan yg udah jadi saat ini

 
 
 
Kepala Divisi OSC
Dia ni tampilannya sama kyk DIVISI OS, tapi ada tampilan untuk sebagai staff anlyst sendiri 
Bisa download excel dan pdf
Dia bisa buat laporan irreg sendiri
Jadi kondisinya tampilannya kayak admin yang bisa semuanya tapi lebih simple, fitur fitur detail ga pelru
 
Divisi lain yang bekerja sama
 
Direktorat Operasi (DO)
Operation (OP)
Service (OS)
Maintenance & Engineering Services (OT)
Quality Assurance (UQ)
 
Lingkup direktorat operasi (OT, OP, UQ)
Hanya boleh liat gafik chart keseluruhan bandara
Nerima laporan untuk di tinjau, Memberikan evidence foto

 
Analyst Melisa
Bisa semua
Bisa edit jabatan / keterangan akun akun yang mndaftar
 
 
---
 
 
Dashboard chartnya apa aja yang aku butuhkan
 
Divisi CABANG
Staff
Group Leader (GL)
Contorrloer / Supervisor
Asisten Manajer (Asmen)
Dusty manajer (Duman)
Manager
(GM / EGM/ DIV HEAD/ PV)
 
Divisi Pusat
Cabangnya Gapura Pusat taru opsinya di atas
Super Admin
Analyst
OS
OSF
OSL
OSC
DIVISI OT
DIVISI OP
DIVISI UQ
 
List Bandara

 
 
 
 
 
Irregularty + cabang export apa
Header excel
 
 
 
 
SS LINK Irreg  (Nanti ak isi lagi)
Tanggal ada dua. Saat dia isi rerport, dan tanggal kejdian case yang dia laporkan
 

 

 
Isi terminal

 
Isi apron

 
Isi general

 
Oke next detail casenya

 

 